@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
html, html body{
    overflow-x: hidden;
}

@font-face {
    font-family: 'Ballo';
    src: url('../fonts/Baloo-Regular.ttf');
    src: local('☺'),  
         url('../fonts/Baloo-Regular.ttf') format('truetype'), 
}


body {
    font-family: 'Ballo';
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;
    font-family: "Baloo 2", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ballo';
};

h1{
    @include font-231;
    text-shadow: -10px 10px 0px #4C7EF6;
    -webkit-text-stroke-width: 9;
    -webkit-text-stroke-color: #16161B;
}

h2{
    @include font-160;
    text-shadow: -10px 10px 0px #4C7EF6;
    -webkit-text-stroke-width: 9;
    -webkit-text-stroke-color: #16161B;
}

h3{
    @include font-147;
}

h4{
    @include font-140;
    text-shadow: -10px 10px 0px #4C7EF6;
    -webkit-text-stroke-width: 9;
    -webkit-text-stroke-color: #16161B;
}

h5{
    @include font-40;
}

p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

figure{
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

input,
textarea,
button {
    padding: 10px 25px;
    outline: none;
    @include transition;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: #f3f3f3;
}

nav ul li {
    display: inline-block;
    position: relative;
    @include transition;
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
   max-width: 1640px;
}


.section-title{
    h2{
        text-transform: uppercase;
        color: #FEF8F8;
        font-weight: 700;
    }
}

.socials{
    li{
        display: inline-block;
        margin-left: 24px;
        @include sm{
            margin-left: 15px;
        }
        a{
            width: 95px;
            height: 95px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12.884px;
            border: 1.189px solid #343230;
            background: #FFF;
            box-shadow: 3.234px 3.234px 0px 0px #000;
            svg{
                color: $black;
                font-size: 45px;
                @include xl{
                    font-size: 26px;
                }
                @include lg{
                    font-size: 26px;
                }
                @include mmd{
                    font-size: 26px;
                }
            }
            @include xl{
                width: 60px;
                height: 60px;
            }
            @include lg{
                width: 60px;
                height: 60px;
            }
            @include mmd{
                width: 60px;
                height: 60px;
            }
        }
    }
    li:nth-child(1){
        margin-left: 0;
    }
    li:hover a{
        border: 1.189px solid $primary;
        background: $primary;
        box-shadow: 3.234px 3.234px 0px 0px #000;

    }
    li:hover a svg{
       color: $white;
    }
   
}