.hero{
    &-area{
        padding-top: 128px;
        background-color: $_bg2;
        @include sm{
            padding-top: 80px;
        }
        .heroImg1{
            max-width: 262px;
            margin-left:auto;
            margin-right: 55px;
            @include sm{
                margin-right: auto;

            }
        }
        .heroImg2{
            max-width: 667px;
            margin-bottom: -45px;
            @include sm{
                padding: 0 30px;
            }
        }
        h1{
            color: $white;
            -webkit-text-stroke-width: 16px;
            -webkit-text-stroke-color: #343230;
            text-transform: uppercase;
            margin-bottom: 15px;
            @include xxl{
                -webkit-text-stroke-width: 8px;
            }
            @include xl{
                -webkit-text-stroke-width: 8px;
            }
            @include lg{
                -webkit-text-stroke-width: 8px;
            }
            @include mmd{
                -webkit-text-stroke-width: 8px;
            }
            @include sm{
                text-align: center;
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
        .copytoclipboard-inner{
            margin-left: 30px;
            .copytoclipboard{
                width: calc(100% - 34px);
                @include sm{
                    width: 100%;
                }
            }
        }
    }
    &-content{
        margin-top: 86px;
        @include sm{
            margin-top: 40px;
            text-align: center;
        }
        @include lg{
            margin-bottom: 80px;
        }
        @include md{
            margin-bottom: 80px;
        }
        p{
            @include font-36;
            color: $_343230;
            max-width: 653px;
            margin-bottom: 40px;
        }
        .value{
            border-radius: 11.374px;
            border: 2px solid #343230;
            background-color: $white;
            box-shadow: 6px 6px 0px 0px #050606;
            padding: 5.687px;
            margin-bottom: 50px;
            @include font-28;
            color: $_484855;
            .value_bar{
                padding: 17.061px 22.747px;
                border-radius: 11.374px;
                border: 3px solid #EEE;
                background: $white;
                line-height: 140%
            }
            .value_bar.active{
                border: 3px solid #397FFE;
            }
        }
        .prograss-bar{
            position: relative;
            border-radius: 32px;
            border: 1px solid #343230;
            background: $white;
            height: 24px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            span{
                position: relative;
                border-right: 1px solid $black;
                z-index: 1;
            }
            span:nth-child(4), span:last-child{
                border:0;
            }
            span.active{
                border-radius: 32px;
                background: #397FFE;
                &::before{
                    position: absolute;
                    content: "";
                    right: -20px;
                    top: 50%;
                    width: 40px;
                    height: 40px;
                    background-image: url('../img/dot.png');
                    z-index: -1;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                
            }
            .price{
                position: absolute;
                bottom: -95px;
                left: 80px;
                @include font-25;
                color: $heading;
                font-weight: 500;
                z-index: 1;
                padding: 10px 20px;
                padding-top: 27px;
                &::before{
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../img/priceBg.png');
                    z-index: -1;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    z-index: -1;
                }
            }
        }
    }
}