.hero{
    &-area{
        padding-top: 128px;
        background-color: $_bg2;
        @include sm{
            padding-top: 80px;
        }
        .heroImg1{
            max-width: 262px;
            margin-left:auto;
            margin-right: 5px;
            @include md{
                max-width: 180px;
            }
            @include sm{
                margin-right: auto;
                max-width: 160px;
            }
            @include ssm{
                max-width: 140px;
            }
        }
        .heroImg2{
            max-width: 667px;
            margin-bottom: -45px;
            margin-left: -15%;
            @include md{
                max-width: 350px;
            }
            @include sm{
                padding: 0;
                margin-left: auto;
                max-width: 70%;
                margin-right: auto;
                margin-top: 90px;
            }
        }
        h1{
            color: $white;
            margin-bottom: 15px;
            text-transform: uppercase;
            line-height: 120%;
            @include sm{
                text-align: center;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
        h5{
            @include font-33;
            margin-bottom: 16px;
            color: $black;
        }
        .copytoclipboard-inner{
            @include sm{
                width: 100%;
                max-width: 470px;
                margin:0 auto;
            }
            .copytoclipboard{
                width: 100%;
                max-width:calc(100% - 35px);
                @include sm{
                    width: 100%;
                    max-width: 470px;
                    margin:0 auto;
                }
            }
        }
    }
    &-content{
        margin-top: 86px;
        @include lg{
            margin-bottom: 80px;
        }
        @include md{
            margin-bottom: 160px;
            margin-top: 50px;
        }
        @include sm{
            margin-top: 40px;
            text-align: center;
        }
        p{
            @include font-36;
            color: $_343230;
            max-width: 653px;
            margin-bottom: 40px;
        }
        .value{
            border-radius: 11.374px;
            border: 2px solid #343230;
            background-color: $white;
            box-shadow: 6px 6px 0px 0px #050606;
            padding: 5.687px;
            margin-bottom: 50px;
            @include font-28;
            color: $_484855;
            @include lg{
                flex-wrap: wrap;
            }
            @include md{
                flex-wrap: wrap;
            }
            @include ssm{
                flex-wrap: wrap;
            }
            .value_bar{
                padding: 17.061px 22.747px;
                border-radius: 11.374px;
                border: 3px solid #EEE;
                background: $white;
                line-height: 140%
            }
            .value_bar.active{
                border: 3px solid #397FFE;
            }
            & button{
                width: 100%;
                border-radius: 11.374px;
                border: 3px solid #EEE;
                background: $white;
                @include font-28;
                color: #484855;
                font-family: 'Ballo';
                font-weight: 400;
                padding: 8px 0px;
                line-height: 140%;
                &.active{
                    border: 3px solid #397FFE;
                }
                @include xl{
                    font-size: 22px;
                }
                @include md{
                    font-size: 15px;
                }
                @include lg{
                    width: 50%;
                    font-size: 20px;
                }
                @include md{
                    width: 50%;
                }
                @include sm{
                    font-size: 15px;
                }
                @include ssm{
                    width: 50%;
                }
            }
        }
        & .prograss{
            &-bar{
                position: relative;
                border-radius: 32px;
                border: 1px solid #343230;
                background: $white;
                height: 24px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                span{
                    position: relative;
                    border-right: 1px solid $black;
                    z-index: 1;
                    font-weight: 800;
                }
                span:nth-child(4), span:last-child{
                    border:0;
                }
                span.active{
                    border-radius: 32px;
                    background: #397FFE;
                    &::before{
                        position: absolute;
                        content: "";
                        right: -20px;
                        top: 50%;
                        width: 40px;
                        height: 40px;
                        background-image: url('../img/dot.png');
                        z-index: -1;
                        transform: translateY(-50%);
                        border-radius: 50%;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                    
                }
                .price{
                    position: absolute;
                    bottom: -95px;
                    right: 0;
                    @include font-28;
                    color: $heading;
                    font-weight: 500;
                    z-index: 1;
                    padding: 10px 20px;
                    padding-top: 25px;
                    &::before{
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('../img/priceBg.png');
                        z-index: -1;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        z-index: -1;
                    }
                    @include sm{
                        bottom: -75px;
                        padding: 10px 14px;
                        padding-top: 20px;

                    }
                }
            }
            &-inner{
                background-color: $primary;
                width: var(--width);
                position: absolute;
                top: 0;
                height: 100%;
                left: 0;
                border-radius: 10px;
                &::before{
                    content: "";
                    --width:40px;
                    width: var(--width);
                    height: var(--width);
                    border-radius: 100%;
                    border: 2px solid $black;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    background-color: $white;
                    transform: translateY(-50%);
                    filter: drop-shadow(2px 2px 0px #000);

                }
            }
        }
    }
}
