.who{
    &-area{
        padding-top: 200px;
        padding-bottom: 150px;
        background-color: $_bg1;
        @include sm{
            padding-top: 120px;
            padding-bottom: 90px;
        }
        .marquee{
            transform: translateY(170px) rotate(-0.844deg);
            @include sm{
                transform: translateY(98px) rotate(-0.844deg);
            }
        }
    }
    &-info{
        border-radius: 48px;
        border: 8px solid #397FFE;
        background: $_bg1;
        padding: 90px 145px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding-bottom: 0;
        @include sm{
            border-radius: 15px;
            padding: 50px 80px;
            padding-bottom: 0;
        }
        &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url('../img/whoMShap.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: -1;
        }
        h3{
            color: #FEF8F8;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 35px;
        }
        p{
            @include font-53;
            font-weight: 600;
            color: $black;
            line-height: 145%;
        }
        figure{
            max-width: 690px;
            margin:0 auto;
            margin-top: -55px;
        }
        .details{
            max-width: 1179px;
        }
    }
}