@mixin transition {
    transition: all .3s ease-in-out;
}

@mixin middle_clear {
    position: unset;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
}

@mixin font-250 {
    font-size: 250px;
    line-height: 120%;
    @include xxl {
        font-size: 180px;
    }
    @include xl {
        font-size: 150px;
    }
    @include lg {
        font-size: 140px;
    }
    @include md {
        font-size: 110px;
    }
    @include sm {
        font-size: 100px;
    }
    @include ssm {
        font-size: 80px;
    }
}

@mixin font-175 {
    font-size: 175px;
    line-height: 120%;
    @include xl {
        font-size: 140px;
    }
    @include lg {
        font-size: 120px;
    }
    @include md {
        font-size: 90px;
    }
    @include sm {
        font-size: 50px;
    }
    @include sm {
        font-size: 44px;
    }
}

@mixin font-147 {
    font-size: 147px;
    line-height: 120%;
    @include xl {
        font-size: 100px;
    }
    @include lg {
        font-size: 80px;
    }
    @include md {
        font-size: 60px;
    }
    @include sm {
        font-size: 50px;
    }
}

@mixin font-120 {
    font-size: 120px;
    line-height: 120%;
    @include xl {
        font-size: 100px;
    }
    @include lg {
        font-size: 80px;
    }
    @include md {
        font-size: 60px;
    }
    @include sm {
        font-size: 50px;
    }
}

@mixin font-53 {
    font-size: 53px;
    line-height: 145%;
    @include xl {
        font-size: 45px;
    }
    @include lg {
        font-size: 40px;
    }
    @include md {
        font-size: 35px;
    }
    @include sm {
        font-size: 30px;
    }
}

@mixin font-48 {
    font-size: 48px;
    line-height: 120%;
    @include md {
        font-size: 40px;
    }
    @include sm {
        font-size: 35px;
    }
}

@mixin font-40 {
    font-size: 40px;
    line-height: 140%;
    @include md {
        font-size: 35px;
    }
    @include sm {
        font-size: 30px;
    }
}

@mixin font-36 {
    font-size: 36px;
    line-height: 145%;
    @include md {
        font-size: 30px;
    }
    @include sm {
        font-size: 25px;
    }
}

@mixin font-33 {
    font-size: 33px;
    line-height: 120%;
    @include md {
        font-size: 28px;
    }
    @include sm {
        font-size: 25px;
    }
}

@mixin font-32 {
    font-size: 32px;
    line-height: 120%;
    @include md {
        font-size: 28px;
    }
    @include sm {
        font-size: 25px;
    }
}

@mixin font-30 {
    font-size: 30px;
    line-height: 120%;
    @include md {
        font-size: 28px;
    }
    @include sm {
        font-size: 25px;
    }
}

@mixin font-28 {
    font-size: 28px;
    line-height: 160%;
    @include md {
        font-size: 24px;
    }
    @include sm {
        font-size: 20px;
    }
}

@mixin font-25 {
    font-size: 25px;
    line-height: 160%;
    @include lg {
        font-size: 23px;
    }
    @include md {
        font-size: 21px;
    }
    @include sm {
        font-size: 18px;
    }
}

@mixin font-24 {
    font-size: 24px;
    line-height: 160%;
    @include lg {
        font-size: 22px;
    }
    @include md {
        font-size: 20px;
    }
    @include sm {
        font-size: 18px;
    }
}